<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Elementary</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="student" class="nav-link">Estudiantes</a>
      </li>
      <li class="nav-item">
        <a routerLink="subject" class="nav-link">Materias</a>
      </li>
      <li class="nav-item">
        <a routerLink="score" class="nav-link">Calificaciones</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
